//預設
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//自訂
.swiper-container {
    max-width: calc(1600px + 10%);
    padding: 0 5%;
    margin: 0 auto;
    @media (max-width: 1083px) {
        max-width: 100%;
        padding: 0;
    }
    .swiper-slide {
        position: relative;
        .img-conatiner {
            img:nth-child(1) {
                @media (max-width: 1259px) {
                    display: none;
                }
            }
            img:nth-child(2) {
                display: none;
                @media (max-width: 1259px) {
                    display: block;
                }
                @media (max-width: 1083px) {
                    display: none;
                }
            }
            img:nth-child(3) {
                display: none;
                @media (max-width: 1083px) {
                    display: block;
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }
            img:nth-child(4) {
                display: none;
                @media (max-width: 767px) {
                    display: block;
                }
                @media (max-width: 539px) {
                    display: none;
                }
            }
            img:nth-child(5) {
                display: none;
                @media (max-width: 539px) {
                    display: block;
                }
            }
        }
        //第一張投影片
        .slide-1-detail-container {
            position: absolute;
            // left: 96px;
            // top: 202px;
            max-width: 520px;
            top: 50%;
            left: 6%;
            transform: translateY(-50%);
            @media (max-width: 1399px) {
                max-width: 440px;
            }
            @media (max-width: 768px) {
                position: static;
                transform: translateY(0%);
                background-color: #333333;
                max-width: 100%;
                height: 320px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;//卡
            }
            @media (max-width: 538px) {
                height: 340px;
                padding: 0 50px;
            }
            @media (max-width: 500px) {
                padding: 0;
            }
            .slide-1-detail-1 {
                background-color: #ffb900;
                height: 31px;
                width: 73px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                margin-bottom: 8px;
            }

            .slide-1-detail-2 {
                font-size: 34px;
                color: white;
                margin-bottom: 20px;
                @media (max-width: 1399px) {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                margin-bottom: 5px;
            }
            }

            .slide-1-detail-3 {
                color: white;
                margin-bottom: 20px;
                @media (max-width: 1399px) {
                    margin-bottom: 25px;
                }
                @media (max-width: 768px) {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            .slide-1-detail-4 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 39px;
                width: 243px;
                font-size: 15px;
                font-weight: 600;
                background-color: white;

                span {
                    margin-bottom: 2px;
                    // border-bottom: 2px solid white;
                }
            }

            .slide-1-detail-4:hover {
                span {
                    margin-bottom: 0;
                    border-bottom: 2px solid black;
                    margin-right: 20px;
                    transition: margin-right 0.3s;
                }
            }
        }

        //第二張投影片
        .slide-2-detail-container {
            position: absolute;
            // left: 90px;
            // top: 221px;
            max-width: 520px;
            top: 50%;
            left: 6%;
            transform: translateY(-50%);
            @media (max-width: 768px) {
                position: static;
                transform: translateY(0%);
                background-color: #e6e6e6;
                max-width: 100%;
                height: 320px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }
            @media (max-width: 539px) {
                height: 340px;
                padding: 0 50px;
            }
            .slide-2-detail-1 {
                margin-bottom: 12px;
                font-weight: 600;
                @media (max-width: 1399px) {
                    font-size: 24px;
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                    padding: 0 20px;
                margin-bottom: 5px;
            }
            }

            .slide-2-detail-2 {
                margin-bottom: 15px;
                @media (max-width: 1399px) {
                    margin-bottom: 25px;
                }
                @media (max-width: 768px) {
                    text-align: center;
                margin-bottom: 10px;
            }
            }

            .slide-2-detail-3 {
                display: flex;
                @media (max-width: 1083px) {
                    flex-direction: column;
                }
                @media (max-width: 768px) {
                    flex-direction: row;
                }
                > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 41px;
                    width: 185px;
                    @media (max-width: 1083px) {
                        justify-content: unset;
                        padding-left: 20px;
                    }
                    @media (max-width: 768px) {
                        justify-content: center;
                        padding-left: 0;
                    }
                }

                .slide-2-detail-3-btn1 {
                    background-color: black;
                    color: white;

                    span {
                        font-weight: 600;
                        margin-bottom: 2px;
                        //     border-bottom: 2px solid black;
                    }
                }

                .slide-2-detail-3-btn1:hover {
                    span {
                        margin-bottom: 0;
                        border-bottom: 2px solid white;
                        margin-right: 20px;
                        transition: margin-right 0.3s;
                    }
                }

                .slide-2-detail-3-btn2 {
                    span {
                        margin-bottom: 2px;
                        font-weight: 600;
                        //     border-bottom: 2px none #F4F4F4;
                    }
                }

                .slide-2-detail-3-btn2:hover {
                    span {
                        margin-bottom: 0;
                        border-bottom: 2px solid black;
                        margin-right: 20px;
                        transition: margin-right 0.3s;
                    }
                }
            }
        }
    }

    .swiper-button-prev {
        content: url(".././img/swiper-left-white.svg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        left: 0;
    }

    .swiper-button-next {
        content: url(".././img/swiper-right-white.svg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        // background-color: white;
        opacity: 0.6;
        right: 0;
    }

    .swiper-button-hide {
        display: none;
    }
}
