.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container {
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  margin: 0 auto;
}

@media (max-width: 1083px) {
  .swiper-container {
    max-width: 100%;
    padding: 0;
  }
}

.swiper-container .swiper-slide {
  position: relative;
}

@media (max-width: 1259px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(1) {
    display: none;
  }
}

.swiper-container .swiper-slide .img-conatiner img:nth-child(2) {
  display: none;
}

@media (max-width: 1259px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(2) {
    display: block;
  }
}

@media (max-width: 1083px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(2) {
    display: none;
  }
}

.swiper-container .swiper-slide .img-conatiner img:nth-child(3) {
  display: none;
}

@media (max-width: 1083px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(3) {
    display: block;
  }
}

@media (max-width: 767px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(3) {
    display: none;
  }
}

.swiper-container .swiper-slide .img-conatiner img:nth-child(4) {
  display: none;
}

@media (max-width: 767px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(4) {
    display: block;
  }
}

@media (max-width: 539px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(4) {
    display: none;
  }
}

.swiper-container .swiper-slide .img-conatiner img:nth-child(5) {
  display: none;
}

@media (max-width: 539px) {
  .swiper-container .swiper-slide .img-conatiner img:nth-child(5) {
    display: block;
  }
}

.swiper-container .swiper-slide .slide-1-detail-container {
  position: absolute;
  max-width: 520px;
  top: 50%;
  left: 6%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1399px) {
  .swiper-container .swiper-slide .slide-1-detail-container {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-1-detail-container {
    position: static;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background-color: #333333;
    max-width: 100%;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 538px) {
  .swiper-container .swiper-slide .slide-1-detail-container {
    height: 340px;
    padding: 0 50px;
  }
}

@media (max-width: 500px) {
  .swiper-container .swiper-slide .slide-1-detail-container {
    padding: 0;
  }
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-1 {
  background-color: #ffb900;
  height: 31px;
  width: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-bottom: 8px;
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-2 {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 1399px) {
  .swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-3 {
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 1399px) {
  .swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-3 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  width: 243px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-4 span {
  margin-bottom: 2px;
}

.swiper-container .swiper-slide .slide-1-detail-container .slide-1-detail-4:hover span {
  margin-bottom: 0;
  border-bottom: 2px solid black;
  margin-right: 20px;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}

.swiper-container .swiper-slide .slide-2-detail-container {
  position: absolute;
  max-width: 520px;
  top: 50%;
  left: 6%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-2-detail-container {
    position: static;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background-color: #e6e6e6;
    max-width: 100%;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 539px) {
  .swiper-container .swiper-slide .slide-2-detail-container {
    height: 340px;
    padding: 0 50px;
  }
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-1 {
  margin-bottom: 12px;
  font-weight: 600;
}

@media (max-width: 1399px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-1 {
    font-size: 20px;
    padding: 0 20px;
    margin-bottom: 5px;
  }
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-2 {
  margin-bottom: 15px;
}

@media (max-width: 1399px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1083px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 41px;
  width: 185px;
}

@media (max-width: 1083px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 > a {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 > a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 .slide-2-detail-3-btn1 {
  background-color: black;
  color: white;
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 .slide-2-detail-3-btn1 span {
  font-weight: 600;
  margin-bottom: 2px;
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 .slide-2-detail-3-btn1:hover span {
  margin-bottom: 0;
  border-bottom: 2px solid white;
  margin-right: 20px;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 .slide-2-detail-3-btn2 span {
  margin-bottom: 2px;
  font-weight: 600;
}

.swiper-container .swiper-slide .slide-2-detail-container .slide-2-detail-3 .slide-2-detail-3-btn2:hover span {
  margin-bottom: 0;
  border-bottom: 2px solid black;
  margin-right: 20px;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}

.swiper-container .swiper-button-prev {
  content: url(".././img/swiper-left-white.svg");
  width: 42px;
  height: 42px;
  border-radius: 100%;
  left: 0;
}

.swiper-container .swiper-button-next {
  content: url(".././img/swiper-right-white.svg");
  width: 42px;
  height: 42px;
  border-radius: 100%;
  opacity: 0.6;
  right: 0;
}

.swiper-container .swiper-button-hide {
  display: none;
}
/*# sourceMappingURL=banner.css.map */