.footer-container {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  height: 396px;
  color: #616161;
}

@media (max-width: 1083px) {
  .footer-container {
    height: 736px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    height: 750px;
  }
}

@media (max-width: 538px) {
  .footer-container {
    height: auto;
    padding-bottom: 20px;
  }
}

.footer-container .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(1600px + 10%);
  margin: 0 auto 45px;
  padding: 0 5%;
}

@media (max-width: 1083px) {
  .footer-container .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 12px 0 24px;
  }
}

@media (max-width: 768px) {
  .footer-container .footer-list {
    margin: 0 auto 25px;
  }
}

@media (max-width: 538px) {
  .footer-container .footer-list {
    margin: 0 auto 33px;
  }
}

.footer-container .footer-list ul {
  width: 16.6666666667%;
  height: 320px;
}

@media (max-width: 1083px) {
  .footer-container .footer-list ul {
    width: 33.33333%;
  }
}

@media (max-width: 538px) {
  .footer-container .footer-list ul {
    width: 100%;
    height: 324px;
  }
}

.footer-container .footer-list ul p {
  padding-top: 32px;
  padding-bottom: 2px;
  color: inherit;
  font-weight: 600;
}

.footer-container .footer-list ul li {
  padding: 5.4px 0;
}

.footer-container .footer-list ul li a {
  color: inherit;
  font-size: 12px;
}

.footer-container .footer-list ul li:first-child {
  padding-bottom: 0;
}

@media (max-width: 538px) {
  .footer-container .footer-list ul:nth-child(1),
  .footer-container .footer-list ul:nth-child(2),
  .footer-container .footer-list ul:last-child {
    height: 228px;
  }
}

.footer-container .footer-list ul:nth-child(1),
.footer-container .footer-list ul:nth-child(4) {
  width: 17.8%;
}

@media (max-width: 1083px) {
  .footer-container .footer-list ul:nth-child(1),
  .footer-container .footer-list ul:nth-child(4) {
    width: 33.33333%;
  }
}

.footer-container .about-more {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: inherit;
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  margin: 0 auto;
  font-size: 11px;
}

@media (max-width: 1083px) {
  .footer-container .about-more {
    max-width: 100%;
    padding: 10px 24px 0;
  }
}

.footer-container .about-more > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

@media (max-width: 768px) {
  .footer-container .about-more > a {
    float: none;
    margin-bottom: 15px;
  }
}

.footer-container .about-more > a span {
  font-size: 12px;
}

.footer-container .about-more > a .fa-globe-asia {
  font-size: 20px;
  margin-right: 10px;
}

.footer-container .about-more > a:hover span {
  text-decoration: underline;
}

.footer-container .about-more ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container .about-more ul li {
  margin-right: 27px;
  padding-top: 2px;
  white-space: nowrap;
}

@media (max-width: 538px) {
  .footer-container .about-more ul li {
    margin-right: 10px;
    padding-top: 6px;
  }
}

.footer-container .about-more ul li a {
  color: inherit;
}

@media (max-width: 768px) {
  .footer-container .about-more ul {
    float: none;
  }
}

.footer-container .about-more > ul {
  padding-left: 5px;
}

@media (max-width: 538px) {
  .footer-container .about-more > ul {
    padding-left: 0;
  }
}

.footer-container .hover:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=footer.css.map */