.footer-container {
    background-color: #f2f2f2;
    width: 100%;
    height: 396px;
    color: #616161;
    .footer-list {
        display: flex;
        max-width: 1600px;
        margin: 0 auto 45px;
        ul {
            height:310px;
            p {
                padding-top: 32px;
                // color: #616161;
                color: inherit;
                font-weight: 600;
            }
            li {
                padding: 5.5px 0;
                a {
                    // color: #616161;
                    color: inherit;
                    font-size: 12px;
                }
            }
        }

        ul:nth-of-type(1) {
            width: 291.5px;
        }
        ul:nth-of-type(2) {
            width: 265px;
        }
        ul:nth-of-type(3) {
            width: 255px;
        }
        ul:nth-of-type(4) {
            width: 278px;
        }
        ul:nth-of-type(5) {
            width: 265px;
        }
        ul:nth-of-type(6) {
            width: 269.5px;
        }
    }
    .about-more {
        justify-content: end;
        color: inherit;
        max-width: 1600px;
        margin: 0 auto;
        font-size: 11px;
        >a{
            display: flex;
            float: left;
            align-items: center;
            color: inherit;
            .fa-globe-asia{
               font-size: 20px;
                margin-right: 10px;
            }
        }ul{
            float: right;
            display: flex;
            li{
                margin-right: 27px;
                padding-top: 2px;
                a{
                    color: inherit;
                }
            }
           
            
        }

    }
}
