.footer-container {
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
    height: 396px;
    color: #616161;
    @media (max-width: 1083px) {
        height: 736px;
    }
    @media (max-width: 768px) {
        height: 750px;
    }
    @media (max-width: 538px) {
        height: auto;
        padding-bottom: 20px;
    }
    .footer-list {
        display: flex;
        max-width: calc(1600px + 10%);
        margin: 0 auto 45px;
        padding: 0 5%;
        @media (max-width: 1083px) {
            flex-wrap: wrap;
            padding: 0 12px 0 24px;
        }
        @media (max-width: 768px) {
            margin: 0 auto 25px;
        }
        @media (max-width: 538px) {
            margin: 0 auto 33px;
        }
        ul {
            width: 16.6666666667%;
            height: 320px;
            @media (max-width: 1083px) {
                width: 33.33333%;
            }
            @media (max-width: 538px) {
                width: 100%;
                height: 324px;
            }
            p {
                padding-top: 32px;
                padding-bottom: 2px;
                color: inherit;
                font-weight: 600;
            }
            li {
                padding: 5.4px 0;
                a {
                    // color: #616161;
                    color: inherit;
                    font-size: 12px;
                }
            }
            li:first-child {
                padding-bottom: 0;
            }
        }
        ul:nth-child(1),
        ul:nth-child(2),
        ul:last-child {
            @media (max-width: 538px) {
                height: 228px;
            }
        }
        ul:nth-child(1),
        ul:nth-child(4) {
            width: 17.8%;
            @media (max-width: 1083px) {
                width: 33.33333%;
            }
        }
    }

    .about-more {
        justify-content: end;
        color: inherit;
        max-width: calc(1600px + 10%);
        padding: 0 5%;
        margin: 0 auto;
        font-size: 11px;
        @media (max-width: 1083px) {
            max-width: 100%;
            padding: 10px 24px 0;
        }
        > a {
            display: flex;
            float: left;
            align-items: center;
            color: inherit;
            @media (max-width: 768px) {
                float: none;
                margin-bottom: 15px;
            }
            span {
                font-size: 12px;
            }
            .fa-globe-asia {
                font-size: 20px;
                margin-right: 10px;
            }
        }

        > a:hover {
            span {
                text-decoration: underline;
            }
        }

        ul {
            float: right;
            display: flex;
            flex-wrap: wrap;
            li {
                margin-right: 27px;
                padding-top: 2px;
                white-space: nowrap;
                @media (max-width: 538px) {
                    margin-right: 10px;
                    padding-top: 6px;
                }
                a {
                    color: inherit;
                }
            }
            @media (max-width: 768px) {
                float: none;
            }
            // @media (max-width: 538px) {
            //     margin-bottom: 20px;
            // }
        }
        >ul{
            padding-left: 5px;
            @media (max-width: 538px) {
                padding-left: 0;
            }
        }
    }

    .hover:hover {
        text-decoration: underline;
    }
}
