.main-container {
    .buy-containr {
        max-width: 1624px;
        height: 222px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .buy {
            width: 125px;
            height: 222px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 80px;
            &.choose-Microsoft365 {
                margin-right: 60px;
            }
            &.choose-Surface {
                margin-right: 60px;
            }
        }
        .hover:hover {
            span {
                text-decoration: underline;
            }
        }
    }
    /*-------------------------------*/
    .product-list {
        display: flex;
        max-width: calc(1624px + 10%);
        padding: 0 5%;
        margin: 0 auto;
        .product {
            // width: 406px;
            width: 25%;
            height: 440px;
            padding: 0 12px;
            img {
                // width: 382px;
                width: 100%;
                margin-bottom: 50px;
            }
            &.product-1 img,
            &.product-3 img {
                margin-bottom: 0;
            }

            .new {
                height: 26px;
                background-color: #ffd800;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &.product-1 .new {
                width: 70px;
                margin: 12px 0;
            }
            &.product-3 .new {
                width: 126px;
                margin: 12px 0;
            }
            span {
                font-weight: 600;
                color: #0067b8;
            }

            h3 {
                margin-bottom: 3px;
            }
            p {
                margin-bottom: 5px;
            }
            a {
                display: flex;
                align-items: center;
                span {
                    margin-bottom: 2px;
                }
            }
        }
        .hover:hover {
            span {
                margin-bottom: 0;
                border-bottom: 2px solid #0067b8;
            }
        }
    }
    /*-------------------------------*/
    .banner-2-container {
        max-width: calc(1600px + 10%);
        padding: 0 5%;
        margin: 0 auto;
        margin-bottom: 49px;
        .img-conatiner {
            position: relative;
            width: 100%;
            img {
                width: 100%;
            }
            .banner-2-detail {
                // width: 88%;
                position: absolute;
                // top: 233px;
                // left: 96px;
                top: 50%;
                left: 6%;
                margin: 0 auto;
                transform: translateY(-50%);
                h2 {
                    margin-bottom: 23px;
                }
                p {
                    margin-bottom: 26px;
                }
                a {
                    height: 38px;
                    width: 123px;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: white;
                        margin-bottom: 2px;
                    }
                    i {
                        color: white;
                    }
                }
                .hover:hover {
                    span {
                        margin-bottom: 0;
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }
    .product-list-title {
        margin: 0 auto 20px;
        max-width: calc(1600px +10%);
        padding: 0 5%;
        font-size: 24px;
    }
    .focus-on {
        display: flex;
        max-width: calc(1600px +10%);
        padding: 0 5%;
        margin: 0 auto 50px;
        align-items: center;
        span {
            margin-right: 15px;
            color: rgba(0, 0, 0, 0.6);
        }
        img {
            margin-right: 15px;
            width: 28px;
        }
    }
}
