nav {
    width: 100%;
    padding: 0 5%;
    background-color: antiquewhite;
}
.nav-container {
    max-width: 1600px;
    height: 55px;
    margin: 0 auto;
    padding-top: 1px;
    font-size: 13px;
    > .logo {
        float: left;
        padding: 13px 6px 16px 8px;
        margin-right: 15px;
        img {
            width: 108px;
        }
    }

    ul {
        float: left;
        display: flex;
        a {
            display: inline-block;
            padding: 17px 13px 11px;
            span {
                font-size: 13px;
            }
        }
    }
    .nav-more{
        float: right;
        display: flex;
        align-items: center;
        height: 100%;
        a:nth-child(1) {
            margin-right: 40px;
            .fa-angle-down {
                font-size: 19px;
            }
        }
        a:nth-child(2) {
            margin-right: 60px;
        }
        a:nth-child(3) {
            margin-right: 25px;
        }
        a:nth-child(4) {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-right: 10px;
            }
            img {
                width: 32px;
            }
        }
        a{
            display: flex;
            align-items: center;
            span{
                font-size: 13px;
                margin-bottom: 2px;
                white-space:nowrap;
            }
        }
    }
   
    .hover:hover {
        span {
            margin-bottom: 0px;
            border-bottom: 2px solid black;
        }
    }
}
